.titulo {
  background-color: var(--segundary-color);
  border: var(--borde) solid var(--tertiary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem 0;
  border-radius: var(--radio);
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 0rem;
}
.titulo > h1 {
  color: var(--tertiary-color);
  font-size: 2rem;
  text-align: center;
}
.titulo > p {
  font-size: 1rem;
  text-align: center;
  padding: 1rem 2rem 0 2rem;
}
