.inico {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 40rem;
  box-sizing: border-box;
  height: 100%;
}

.tarjetas {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem;
}
@media (max-width: 750px) {
  .inico {
    padding: 0.5rem 2rem;
    height: 100%;
  }
}
